.hero {
    background: linear-gradient(to bottom, rgba(255, 69, 69, 0.9), rgba(255, 69, 69, 0.9)), url('/src/assets/bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: auto;
    display: flex;
    align-items: center;
    
  }
  
  .text-section {
    padding-top: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    direction: rtl;
  }
  
  .store-icon {
   
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .download-buttons {
    margin-top: 2rem;
  }
  

  
  .phone-section {

    display: flex;
    padding-top: 4rem;
    justify-content: start;
  }
  
  .phone-image {
    margin-left: 6rem;
    width: 35%;
    height: auto;
    
  }
  